# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
*.log

# VS Code
.vscode/

# Jest
coverage/

# Babel cache
.cache/
babel-cache/

# Env files
.env
.env.local

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
